.anch_blue {
    background: #2D4571;
}

.anch_green {
    background: green;
}

.anch {
    padding: 18px 24px;
    border-radius: 6px;
    cursor: pointer;
}

.txt {
    color:rgb(233, 220, 220);
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.txt:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -5px;
    transition: 0.5s;
}
  
.anch:hover .txt {
    padding-right: 25px;
}
  
.anch:hover .txt:after {
    opacity: 1;
}