.contact_display {
    padding: 0 60px;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background: whitesmoke;
}

.contact {
    font-size: 2em;
    font-weight: bold;
    color:gray;
}

.contact_content {
    font-size: 1.5em;
    font-weight: bold;
    color:gray;
}

@media (max-width: 700px) {
    .contact_display {
        padding: 0;
    }
    .contact {
        font-size: 1.8em;
    }
    .contact_content {
        font-size: 1.3em;
    }

}

@media (max-width: 500px) {
    .contact {
        font-size: 1.5em;
    }
    .contact_content {
        font-size: 1em;
    }

}