.email_me {
    padding: 18px 24px;
    width: auto;
    border-radius: 6px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-size: 200%;
    transition: 0.6s;
    background-image: linear-gradient(to left, rgb(176, 212, 191), rgb(16, 150, 234), rgb(176, 212, 191));;
}