html {
    width: 100%;
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-position: right;
}

a:visited {
    color: black;
}

:root {
    --animate-delay:0.25s;
}